:root {
  --mainColor: #0159f2;
  --mainColor20: #0159f233;
  --mainColor05: #0159f20d;
  --linearGradient: linear-gradient(
    90deg,
    #0159f2 0%,
    #f1948d 50%,
    #8e31bb 100%
  );
  --secondColor: #f7f3e7;
  --goldColor: #f4bd4b;
  --whiteColor: #ffffff;
  --darkColor: #191919;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}
@font-face {
  font-family: "fontRegular";
  font-display: swap;
  src: url(../webfonts/PoppinsRegular.ttf);
}
@font-face {
  font-family: "fontBold";
  font-display: swap;
  src: url(../webfonts/PoppinsExtraBold.TTF);
  font-weight: 900;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  direction: ltr;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #dddddd;
}
::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  outline: none;
  border-radius: 20px !important;
}
:target {
  scroll-margin-top: 50px;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
  color: var(--mainColor);
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
body {
  overflow-x: hidden;
  background-color: var(--darkColor);
}
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.6;
  color: var(--whiteColor);
  font-family: "fontRegular", sans-serif;
}
// p{
//   font-size: 15px;
// }
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 4px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  i {
    font-size: 16px;
  }
}
.btn:focus {
  box-shadow: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}
input {
  accent-color: var(--mainColor) !important;
}
.odometer-inside {
  direction: ltr !important;
}
.fancybox__container {
  z-index: 1999;
}
::placeholder {
  font-size: 12px;
  color: #bababa !important ;
  font-weight: normal !important;
}
::selection {
  background-color: var(--mainColor);
}
[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: ltr;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
  }
}
button {
  border: none;
  background-color: transparent;
}
.form-control {
  min-height: 54px;
  &:focus {
    box-shadow: none;
  }
}
.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
  .tooltip-inner {
    font-size: 10px;
    padding: 8px 16px !important;
  }
}
content {
  min-height: calc(100dvh - 320px);
  display: flex;
  flex-direction: column;
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.spinerLoader {
  background-color: var(--darkColor);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinerLoaderImg {
    width: 200px;
    height: 200px;
    mask-image: url("../img/logo.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 200px;
      height: 200px;
      z-index: 2;
      background-color: var(--mainColor);
      transform: translateY(100%);
      animation: slide-up 1.5s forwards;
    }
    &::before {
      content: "";
      display: block;
      width: 200px;
      height: 200px;
      background-image: url("../img/logo.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(1) opacity(0.5);
    }
    @keyframes slide-up {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0%);
      }
    }
  }
}
.lazyDiv {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: transform 2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0%);
  }
  &.oppositeDir {
    &::after {
      left: unset;
      right: 0;
    }
  }
  .lazy {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  &.loaded {
    &::after {
      transform: translateX(-100%);
    }
    &.oppositeDir {
      &::after {
        transform: translateX(100%);
      }
    }
    &.down {
      &::after {
        transform: translateY(100%);
      }
    }
    &.up {
      &::after {
        transform: translateY(-100%);
      }
    }
  }
}
.container {
  width: min(100% - 4px, 1320px);
  max-width: unset;
  margin: auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  transition: var(--transition);
  padding: 12px;
  & .inner {
    width: min(100% - 8px, 1440px);
    margin: auto;
    display: flex;
    align-items: center;
    padding: 4px 24px;
    gap: 4px;
    border-radius: 100px;
    text-align: center;
    transition: var(--transition);
    justify-content: space-between;
    .navbar-brand {
      padding: 5px;
      img {
        height: 40px;
        min-width: 100px;
        max-width: 250px;
        width: 100%;
        object-fit: contain;
        object-position: left;
        padding-bottom: 8px;
      }
    }
    .navbar {
      // flex: 4;
      padding: 0;
      .navbar-nav {
        flex: 1;
        .navLink {
          flex: 1;
          white-space: nowrap;
          padding: 8px 16px;
          color: var(--whiteColor);
          &.active {
            background: var(--linearGradient);
            background-size: 400%;
            border-radius: 100px;
            animation: animateBg 5s linear infinite;
          }
        }
      }
      .logo {
        display: none;
        padding: 5px;
        margin-bottom: 20px;
        img {
          height: 30px;
          min-width: 120px;
          max-width: 250px;
          width: 100%;
          object-fit: contain;
          object-position: left;
        }
      }
      @media screen and (max-width: 992px) {
        order: 3;
        padding: 4px;
        border-radius: 8px;
        .navbar-toggler {
          padding: 4px;
        }
        .navbar-nav {
          .logo {
            display: block;
          }
          display: flex;
          position: fixed;
          left: 0;
          top: 0;
          gap: 8px;
          background-color: var(--darkColor);
          height: 100%;
          box-shadow: #0000001a -20px 10px 9px -4px;
          width: 300px;
          text-align: start;
          padding: 24px;
          transform: translateX(-400px);
          transition: var(--transition);
          z-index: 2;
          &.show {
            transform: translateX(0px);
          }
          .navLink {
            flex: unset;
            // color: var(--mainColor);
          }
        }
      }
    }
  }
  &.headerAnimate .inner {
    background-color: #000;
    box-shadow: 0px 20px 100px #0159f28a;
  }
}
.outlineGradient {
  position: relative;
  z-index: 1;
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 5s linear infinite;
  color: var(--whiteColor);
  border-radius: 8px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 4px;
  &::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 1;
    transform: translate(-50%, 50%);
    background-color: var(--darkColor);
    border-radius: 8px;
    transition: var(--transition);
  }
  span {
    position: relative;
    z-index: 2;
    font-size: 14px;
    color: var(--whiteColor);
  }
  &:hover {
    &::after {
      opacity: 0;
    }
  }
}
.gradientText * {
  background: var(--linearGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateBg 5s linear infinite;
  background-size: 400%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 80px;
  position: relative;
  text-align: center;
  min-height: 80dvh;
  width: 100%;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: -1;
  .heroView {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    margin: auto;
    * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: var(--darkColor);
      z-index: 1;
      opacity: 0.6;
    }
  }
  .text {
    padding: 48px 0;
    width: min(100% - 32px, 700px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    margin: 0px auto;
    flex: 1;
    text-wrap: balance;
    .title {
      font-weight: bold;
      font-family: "fontBold", sans-serif !important;
      font-size: 60px;
      line-height: 65px;
      text-transform: uppercase;
    }
  }
}
.aboutPage {
  padding: 64px 0;
  background-color: var(--darkColor);
  // margin-top: 100dvh;
  .title {
    font-weight: bold;
    color: var(--mainColor);
    text-transform: uppercase;
    font-family: fontBold;
    font-size: 40px;
    line-height: 40px;
  }
  .sectionTitle {
    font-style: italic;
    font-weight: bold;
    color: var(--lightGrayColor);
    font-family: fontBold;
  }
  .subTitle {
    color: var(--lightGrayColor);
  }
  .row {
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
  .info {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 16px;
    @media (max-width: 768px) {
      padding: 48px 16px;
    }
    .des {
      color: var(--grayColor);
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
      li {
        padding: 4px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        &::before {
          content: "";
          background-image: url(../img/icons/check.svg);
          width: 16px;
          height: 16px;
          background-size: contain;
        }
      }
    }
  }
  .lazyImg {
    position: relative;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      border: 10px solid;
      border-image-slice: 1;
      border-image-source: var(--linearGradient);
      width: 100%;
      height: 90%;
      transform: translateY(-50%);
    }
    .lazyDiv {
      // width: min(100% - 40px);
      height: 100%;
      margin: auto;
      .simpleParallax {
        height: 100%;
      }
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 85%;
        object-position: top;
      }
    }
  }
  .statistic {
    padding: 8px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    .counterUp {
      font-weight: bold;
      font-size: 100px;
      background: #a7a9ac10;
      background-size: contain;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-stroke: 1px #a7a9ac;
      font-family: "Manrope Alt", Sans-serif;
      @media (max-width: 768px) {
        font-size: 70px;
      }
    }
    h6 {
      font-weight: bold;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      max-height: 100px;
      text-align: center;
      transform: scaleX(-1) scaleY(-1);
    }
  }
}
.socialMedia {
  display: flex;
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  padding: 8px;
  a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grayColor);
    color: var(--grayColor);
    border-radius: 100px;
    transition: var(--transition);
    img {
      transition: var(--transition);
      filter: contrast(0.4);
    }
    &:hover {
      background-color: var(--mainColor);
      color: var(--whiteColor);
      border: 1px solid var(--mainColor);
      transform: translateY(-4px);
      box-shadow: 0px 4px #00000030;
      img {
        filter: contrast(1) brightness(0) invert(1);
      }
    }
  }
}
.vision {
  position: relative;
  padding: 80px 0;
  background-color: var(--darkColor);
  @media screen and (max-width: 768px) {
    padding: 40px 0;
  }
  .BG {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &::after {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #5c6068e7;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .container {
    position: relative;
    z-index: 2;
    .group {
      background-color: #1f1f21;
      padding: 32px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      box-shadow: 0px 4px 24px #00000020;
      border-radius: 12px;
      @media screen and (max-width: 768px) {
        padding: 16px;
        box-shadow: 0px 4px 12px #00000020;
      }
      .title {
        font-weight: bold;
        font-family: "fontBold", sans-serif !important;
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          height: 32px;
          aspect-ratio: 1/1;
        }
      }
      .des {
        color: var(--lightGrayColor);
      }
    }
    .values {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      // text-align: center;
      justify-content: center;
      @media screen and (max-width: 768px) {
        gap: 8px;
      }
      .value {
        padding: 12px;
        flex: 1;
        border: 1px dashed var(--mainColor20);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        border-radius: 12px;
        transition: var(--transition);
        h6 {
          font-weight: bold;
          transition: var(--transition);
          white-space: nowrap;
        }
        &:hover {
          background-color: var(--mainColor);
          transform: translateY(-5px);
          h6 {
            color: white;
          }
          p {
            color: white;
          }
        }
      }
    }
  }
}
.scrollDown {
  width: 25px;
  height: 50px;
  border: 2px solid #ffffff33;
  border-radius: 100px;
  position: relative;
  margin: 50px auto 0;
  transition: var(--transition);
  display: flex;
  @media (max-width: 768px) {
    margin: 30px auto 0;
  }
  .mouse {
    width: 12px;
    height: 12px;
    background: var(--whiteColor);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    animation: scrollDown linear 2s infinite;
    transition: var(--transition);
  }
}
@keyframes scrollDown {
  0% {
    transform: translate(50%, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(50%, 16px);
    opacity: 1;
  }
  100% {
    transform: translate(50%, 32px);
    opacity: 0;
  }
}
.swiperControl {
  position: relative;
  bottom: unset;
  left: unset;
  padding: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
  .swiperBtns {
    display: flex;
    gap: 8px;
    .swiper-button-next,
    .swiper-button-prev {
      position: relative;
      right: unset;
      left: unset;
      top: unset;
      bottom: unset;
      margin: unset;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--mainColor);
      width: 40px;
      height: 40px;
      border: 1px solid var(--mainColor);
      border-radius: 100%;
      transition: var(--transition);
      opacity: 0.8;
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-image: url("../img/icons/left.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: var(--transition);
        filter: grayscale(1);
        transform: scaleX(-1);
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      &:hover {
        opacity: 1;
        background-color: var(--mainColor);
        color: var(--mainColor);
        &::after {
          filter: brightness(0) invert(1);
        }
      }
      &.swiper-button-disabled {
        opacity: 0.2;
      }
    }
    .swiper-button-next {
      right: unset;
      &::after {
        transform: unset;
      }
    }
  }
  .swiper-pagination {
    position: relative;
    min-height: 16px;
    right: unset;
    left: unset;
    top: unset;
    bottom: unset;
    margin: unset;
    display: flex;
    justify-content: end;
    align-items: center;
    .swiper-pagination-bullet {
      background-color: var(--mainColor);
      transition: var(--transition);
      border-radius: 16px;
      &.swiper-pagination-bullet-active {
        width: 16px;
        height: 16px;
      }
    }
  }
}
footer {
  background-color: var(--secondColor);
  position: relative;
  z-index: 2;
  padding: 40px 0;
  color: var(--whiteColor);
  .logo {
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;
      object-position: left;
      max-height: 60px;
      // filter: brightness(0) invert(1);
    }
  }
  .title {
    font-weight: bold;
  }
  .part {
    display: flex;
    gap: 12px;
    align-items: center;
    img {
      object-fit: contain;
      object-position: left;
      max-height: 40px;
      filter: brightness(0) invert(1);
    }
  }
  .link {
    display: flex;
    align-items: center;
    gap: 8px;
    path,
    svg {
      fill: var(--mainColor);
    }
    .icon {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      border: 1px solid var(--mainColor);
      svg {
        width: 16px;
        height: 16px;
      }
    }
    a,
    p {
      display: flex;
      flex-direction: column;
      gap: 0px;
      color: var(--mainColor);
      transition: var(--transition);
      direction: ltr;
      cursor: pointer;
      span {
        color: var(--mainColor);
      }
    }
    &:hover {
      p {
        color: var(--goldColor);
      }
    }
  }
  .socialMedia a img {
    filter: brightness(0) invert(1) contrast(0.8);
  }
  .border-top {
    --bs-border-color: #eee5cb;
  }
}
.partners {
  background: var(--darkColor);
  position: relative;
  z-index: 2;
  padding: 100px 0 60px;
  overflow: hidden;
  .sectionTitle {
    padding-bottom: 10px;
    margin-bottom: 8px;
    text-align: center;
    .title {
      color: var(--mainColor);
      font-weight: bold;
      font-family: "fontBold", sans-serif !important;
    }
    .sub {
      color: var(--goldColor);
      font-weight: bold;
    }
    .hint {
      color: var(--grayColor);
      width: min(100% - 40px, 800px);
      margin: auto;
      margin-top: 16px;
    }
  }
  .logo {
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .swiperControl {
    position: relative;
    padding-top: 60px;
    .swiper-pagination {
      justify-content: center;
      .swiper-pagination-bullet {
        background-color: var(--whiteColor);
      }
    }
  }
  .inner {
    background-color: var(--mainColor);
    text-align: center;
    padding: 24px;
    // border-radius: 12px;
    height: 100%;
    .subTitle {
      color: var(--whiteColor);
      font-weight: bold;
      font-family: "fontBold", sans-serif !important;
      margin-bottom: 16px;
    }
  }
}
.contactUs {
  padding: 80px 0 0;
  position: relative;
  background-color: var(--darkColor);
  .sectionTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    .title {
      font-weight: bold;
      font-family: "fontBold", sans-serif !important;
    }
    .hint {
      color: var(--grayColor);
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    padding-top: 30px;
    .link {
      display: flex;
      width: fit-content;
      gap: 12px;
      path,
      svg {
        fill: var(--darkColor);
      }
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      .icon {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--darkColor);
        svg {
          width: 20px;
          height: 20px;
        }
      }
      p {
        display: flex;
        flex-direction: column;
        gap: 0px;
        transition: var(--transition);
        color: var(--grayColor);
        span {
          color: var(--darkColor);
          direction: ltr;
        }
      }
      &:hover {
        p {
          color: var(--mainColor);
        }
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
    .form-control {
      border: none;
      background: #fff;
      border-radius: 0;
      color: var(--darkColor);
      min-height: 64px;
      padding: 16px;
    }
    .btn {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 16px 32px;
      background-color: var(--mainColor);
      color: var(--whiteColor);
      border-radius: 0;
      transition: var(--transition);
      font-size: 16px;
      text-transform: capitalize;
      &:hover {
        background: var(--goldColor);
        gap: 16px;
      }
    }
  }
  .map {
    width: 100%;
    height: 400px;
    padding-top: 40px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  span,
  p,
  body {
    font-size: 14px;
  }
}
.galleryPage {
  padding: 20px 0 00px;
  .inner {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    a {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 400px;
      min-width: 20vw;
      border: 3px solid var(--secondColor30);
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
      }
      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 8px 16px;
        z-index: 3;
        color: var(--whiteColor);
        background-color: #5c606870;
      }
      &:nth-child(4n) {
        min-width: 40vw;
      }
      @media (max-width: 768px) {
        height: 200px;
        min-width: 40vw;
        &:nth-child(4n) {
          min-width: 60vw;
        }
      }
    }
    @media (max-width: 768px) {
      gap: 4px;
    }
  }
}
.banner {
  background-image: linear-gradient(#ffffff0e, #ffffff), url(../img/BG.svg) !important;
  background-size: cover;
  background-position: center;
  padding: 150px 0 50px;
  position: relative;
  display: flex;
  background-size: 40px;
  @media (max-width: 768px) {
    padding: 120px 0 30px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links {
    a {
      padding: 4px;
      position: relative;
      color: var(--darkColor);
      display: inline-flex;
      align-items: center;
      gap: 12px;
      text-transform: capitalize;
      &:last-child {
        &::after {
          display: none;
        }
      }
      &::after {
        content: " ↣ ";
        transform: scaleX(-1);
      }
      &.active {
        cursor: default;
        color: var(--grayColor);
      }
    }
  }
  h2 {
    font-weight: bold;
    color: var(--darkColor);
    text-transform: capitalize;
    font-family: "fontBold", sans-serif !important;
  }
}
.careerPage {
  padding: 0 0 48px;
  .job {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    // box-shadow: var(--BigShadow);
    height: 100%;
    border: 1px dashed var(--mainColor20);
    border-radius: 8px;
    img {
      width: 100%;
      aspect-ratio: 3/2;
      max-height: 200px;
      object-fit: cover;
      background-color: var(--secondColor);
      border-radius: 8px 8px 0 0;
    }
    .text {
      padding: 8px 16px;
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 8px;
      .jobTitle {
        font-weight: bold;
        color: var(--darkColor);
      }
      .des {
        font-size: 13px;
        flex: 1;
      }
      a {
        margin-top: 16px;
        text-align: center;
        justify-content: center;
        padding: 8px 16px;
        font-size: 13px;
        background-color: var(--mainColor05);
        border-radius: 8px;
      }
    }
  }
}
.careersForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: var(--secondColor);
  border-radius: 8px;
  position: sticky;
  top: 120px;
  .title {
    font-family: "fontBold", Sans-serif !important;
    color: var(--mainColor);
    text-transform: none;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    label {
      font-family: "fontBold", Sans-serif !important;
      font-size: 14px;
    }
    .send {
      background-color: var(--mainColor);
      padding: 16px;
      width: min(100% - 24px, 300px);
      margin: auto;
      color: var(--whiteColor);
      border-radius: 100px;
    }
  }
}
.filepond--credits {
  display: none !important;
}
.filepond--image-clip {
  direction: ltr !important;
}
.jobDetails {
  .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .jobImg {
      width: 100%;
      aspect-ratio: 3/2;
      max-height: 400px;
      object-fit: cover;
      border-radius: 8px;
    }
    .jobTitle {
      font-weight: bold;
      margin: 8px 0;
      color: var(--darkColor);
    }
  }
}
.serviceArea {
  background-color: var(--mainColor);
  padding: 80px 0;
  .serviceTop {
    text-align: center;
    padding-bottom: 55px;
    width: min(100% - 40px, 800px);
    text-wrap: balance;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: 767px) {
      padding-bottom: 40px;
    }
    .secTitle {
      font-weight: bold;
      color: var(--whiteColor);
      text-transform: uppercase;
      font-family: fontBold;
      font-size: 40px;
      line-height: 40px;
    }
    .secSubTitle {
      font-style: italic;
      font-weight: bold;
      color: var(--lightGrayColor);
      font-family: fontBold;
    }
    .hint {
      color: var(--lightGrayColor);
    }
  }
  .cxuService {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    img {
      transition: var(--transition);
    }
    .service-item {
      gap: 15px;
      display: grid;
      grid-template-columns: 0.2fr 1fr 1fr 0.3fr;
      border-bottom: 1px solid var(--mainColor);
      transition: all 0.3s;
      padding: 45px 0;
      position: relative;
      transition: var(--transition);
      @media (max-width: 991px) {
        padding: 30px 20px;
        grid-template-columns: 0.2fr 1fr 1.5fr 0.2fr;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
      .title {      transition: var(--transition);
        font-size: 35px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--whiteColor);
        text-transform: capitalize;
        font-weight: bold;
        font-family: fontBold;
        @media (max-width: 1199px) {
          font-size: 30px;
        }
        @media (max-width: 991px) {
          font-size: 24px;
        }
      }
      .number {      transition: var(--transition);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: var(--whiteColor);
        text-transform: capitalize;
      }
      .services {      transition: var(--transition);
        columns: 2;
        li {
          transition: var(--transition);
          font-size: 18px;
          font-weight: 400;
          line-height: 1.6;
          color: var(--lightGrayColor);
          text-transform: capitalize;
          display: flex;
          align-items: baseline;
          gap: 8px;
        }
      }
      .link {
        text-align: end;
        @media (max-width: 767px) {
          text-align: start;
          margin-top: 10px;
        }
        a {
          transition: var(--transition);
          width: 90px;
          height: 90px;
          align-items: center;
          border-radius: 100%;
          display: inline-flex;
          justify-content: center;
          border: 1px solid var(--whiteColor);
          overflow: hidden;
          @media (max-width: 991px) {
            width: 60px;
            height: 60px;
          }
          &:hover {
            .icon-1 {
              opacity: 0;
              transform: translate(35px, -35px);
            }
            .icon-2 {
              opacity: 1;
              transform: translate(0, 0);
            }
          }
          .icon-1,
          .icon-2 {
            transition: all 0.5s;
          }
          .icon-2 {
            position: absolute;
            transform: translate(-35px, 35px);
            opacity: 0;
          }
        }
      }
      .hover-img {
        position: absolute;
        top: -120px;
        width: 300px;
        height: 370px;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        border-radius: 15px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:hover {
        background: var(--whiteColor);
        margin-inline: -30px;
        padding-inline: 30px;
        border-radius: 20px;
        .number,
        .title {
          color: var(--darkColor);
        }
        .services li {
          color: var(--darkColor);
          img{
            filter: brightness(0) ;
          }
        }
        .link a {
          border-color: var(--mainColor);
          background-color: var(--mainColor);
        }
        .hover-img {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
